Source: openmediavault-jdownloader
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.6
XB-Plugin-Section: downloaders

Package: openmediavault-jdownloader
Architecture: all
Depends: openmediavault (>= 3.0.15),
         openjdk-6-jre-headless | openjdk-7-jre-headless | openjdk-8-jre-headless | openjdk-6-jre | openjdk-7-jre | openjdk-8-jre | java7-runtim-headlesse | java7-runtime,
         ${misc:Depends}
Homepage: http://my.jdownloader.org/index.html
Description: OpenMediaVault Jdownloader plugin
 JDownloader is open source, platform independent and written completely in
 Java. It simplifies downloading files from One-Click-Hosters like
 Rapidshare.com or Megaupload.com \- not only for users with a premium account
 but also for users who don't pay. It offers downloading in multiple parallel
 streams, captcha recognition, automatic file extraction and much more.
 Additionally, many "link encryption" sites are supported \- so you just paste
 the "encrypted" links and JDownloader does the rest. JDownloader can import
 CCF, RSDF and DLC files.
