[Unit]
Description=jdownloader
After=network.target

[Service]
User=jdownloader
Group=users
CPUQuota=25%
Type=simple
UMask=000
ExecStart=/usr/bin/java -Djava.awt.headless=true -jar /opt/jdownloader/JDownloader.jar
Restart=always

[Install]
WantedBy=multi-user.target
